/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding: 10px 10px;
    margin: 0px;
    font-weight: lighter;
    font-size: 100%;
}

h2 {
    font-size: 125%;
    font-weight: lighter;
    margin: 0px 0px 0px 0px;
}

h3 {
    font-weight: lighter;
    font-size: 100%;
    margin: 0px;
    text-align: center;
}

p {
    font-size: 200%;
    margin: 0px;
    text-align: center;
}

#full-meal {
    font-weight: lighter;
    font-size: 140%;
    text-align: center;
    margin: 15px;
}

#asterisk {
    color: #ee5253;
}

label {
    font-size: 85%;
}

input[type=radio] {
    border: 0px;
    width: 5%;
    height: .65em;
}

section {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    gap: 12%;
}

body {
    background-image: url('./assets/burger-friends.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0fb9b1;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div {
    background-color: rgba(225, 225, 225, .9);
    height: 300px;
    width: 300px;
    padding: 0px 30px;
    margin: 85px 0px 300px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

input {
    margin: 10px 5px;
}

#lets-cook {
    background-color: #0fb9b1;
    border: none;
    width: 45%;
    border-radius: 4px;
    padding: 6px;
    font-size: 65%
}

ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 0px 0px;
}

#meal-suggestion {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

img {
    height: 40%;
    width: 40%;
}